<% include ./partials/head.ejs %>

<body>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" id="content">
            <h1><%= message %></h1>
            <h2>Please search for a game you want to buy</h2>
            <form action="/games" method="GET" enctype="application/json">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Game name :</span>
                    </div>
                    <input required type="text" class="form-control" name="name" placeholder="Grand Theft Auto">
                    <div class="input-group-postpend">
                        <button type="submit" class="btn btn-dark">Go</button>
                    </div>
                </div>
            </form>
            <div id="redirectButtons">
                <a href="http://localhost:3000/login" class="btn btn-secondary">/login</a>
                <a href="http://localhost:3000/calls" class="btn btn-secondary">/calls</a>
                <a href="http://localhost:3000/profile" class="btn btn-secondary">/profile</a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</body>

</html>