<% include ./partials/head.ejs %>

<body>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" id="content">
            <h1>Logs</h1>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Game</th>
                    </tr>
                </thead>
                <tbody>
                    <% logs.forEach((log, index) => { %>
                    <tr>
                        <th><%= index+1 %></th>
                        <td><%= log.date %></th>
                        <td><%= log.game %></th>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</body>